/* header  */
.header{
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.header ul button,
.header ul a{
    margin-top: 6px;
    font-family:Arial, Helvetica, sans-serif;
}

// nav 

#dropdownNavbarLink{
    position: relative;
    transition: all 0.4s;

    #dropdownNavbar{
        position: absolute;
        width: 170px;
        transition: all 0.3s linear;

        a{
            padding: 10px 0;
            text-align: center;
            margin: 0;
            border-bottom: 1px solid #d9d3d3;
            &:hover{
                background-color: rgb(16,138,37,0.1) !important;
            }

        }
    }

    &:hover #dropdownNavbar{
        display: block;
    }

    &:hover a.flex{
        color:#8d8989;
    }
}

.register-btn:hover{
    background-image: linear-gradient(270deg, #b465da 0%, #cf6cc9 28.04%, #ee609c 67.6%, #ee609c 100%);
    background-repeat: no-repeat;
    color: #fff !important;
    border:2px solid #b465da  !important;
}

.user-account-btn{
    background-color: #ffffff;
    width: 240px;
    padding:29px 24px 43px 25px;
    position: absolute;
    right: 100%;
    transition: 0.3s all linear;
}
.post-slider .owl-nav,.post-book-slider .owl-nav{
    text-align: left;
}
.post-slider .video-image, .post-slider video{
    width: 210px;
    height:130px;
}
.post-book-slider img{
    width: 140px !important;
    height: auto;
}

.input-overflow{
    height: 468px !important;
    overflow-x:auto;
}

//section post 

.all-posts .item video,
.all-posts .item .video-image{
    width: 100%;
    height: 250px;
    border-radius: 15px;
}
.input-overflow::-webkit-scrollbar { 
    width: 0;
    height: 0;
}

.file-input[type="file"] {
    /* Style the color of the message that says 'No file chosen' */
      color: #878787;
    }
    [type="file"]::-webkit-file-upload-button {
        background-image: linear-gradient(to bottom left, #3c40f9, #275cfa);
        height: 100%;
        padding: 0;
        margin-left:-14px;
        border: none;
        border-radius: 4px;
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        outline: none;
        padding: 10px 25px;
        text-transform: uppercase;
        transition: all 1s ease;
    }
    
    [type="file"]::-webkit-file-upload-button:hover {
      background: #fff;
      color: #000;
    }
    

.border-green{
    border:1px solid #00B035;
    height: fit-content;
}

// বিবলিওগ্রাফি table 

.biliographi-table thead tr th{
    color: #5C14F6;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}
.biliographi-table thead{
    border-bottom: 1px solid #5c14f6;
}
.biliographi-table tbody tr{
    padding-bottom: 15px;
    border-bottom: 1px solid #C7C7CC;
    font-size: 14px;
    font-weight: 500;
    color:#1b1b1b;
    line-height: 24px;
}
.biliographi-table thead tr th, .biliographi-table thead tr td{
    padding-bottom: 15px;
}
.post-slider .owl-dots, .post-book-slider .owl-dots{
    display: none;
}
.post-slider .owl-nav .nav-button,.post-book-slider .owl-nav .nav-button{
    padding:0;
    margin:0;
    background: transparent;
}
.sidebar{
    width: 350px !important;
}

.form-group label{
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #454545;
}
.form-group input, .form-group select.input{
    height: 50px;
    padding-left:15px;
    border-radius: 5px;
    background:transparent;
    border:1px solid #C7C7CC;
}
.error{
    border:1px solid red !important;
}


.youtube img.absolute{
    width: 80px;
    height: 60px;
    border-radius: 10px;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


/* //file upload  */
.dashed-border{
 border: 1px dashed #B0B0B0;   
}
select.dropdown{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.dropdown:focus{
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

// admin dashboard 
.dashboard .header a{
    padding:10px;
    transition: all 0.3s;
}
.dashboard .header a.active, 
.dashboard .header a:hover{
    background-color: #fff;
    color: #000;
    font: 700;
}
.dashboard #result .download-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.dashboard .data-table td .pending{
    color: #5856D6;
    padding: 6px 15px;
    background:rgba(88, 86, 214, 0.1);
}
.dashboard .data-table td .accepted{
    color: #00B035;
    padding: 6px 15px;
    background:rgba(0, 176, 53, 0.10)
}
.dashboard .data-table td .selected{
    color: rgb(249 115 22);
    padding: 6px 15px;
    background:rgb(249, 115, 22, .1);

}
.dashboard .data-table td .none{
    color:#565956;
    padding: 6px 24px;
    background:rgba(86, 89, 86, 0.1);
}
.dashboard .data-table td .rejected{
    color: #F71111;
    padding:6px 13px;
    background:rgba(247, 17, 17, .1)

}

.dashboard .data-table tr.none.selected-checkbox{
    border: 1px solid #565956 !important;
}
.dashboard .data-table tr.rejected.selected-checkbox{
    border: 1px solid #F71111 !important;
}
.dashboard .data-table tr.selected.selected-checkbox{
    border: 1px solid rgb(249 115 22) !important;
}
.dashboard .data-table tr.accepted.selected-checkbox{
    border: 1px solid #00B035 !important;
}
.dashboard .data-table tr.pending.selected-checkbox{
    border: 1px solid #5856D6 !important;
}
.dashboard .data-table tr:hover ~ tr{
    border-bottom: none;
}

#doropdown-toggoler:hover .dropdown-items{
    display: flex;
    flex-direction: column;
}

#doropdown-toggoler .dropdown-items .btn{
    width: 161px;
    background: #FFFFFF;
    box-shadow: 0px 40px 150px rgba(201, 201, 201, 0.5);
    border-radius: 0px 5px 5px 5px;
    padding: 8px 16px;
    text-align: left;
    border-bottom:1px solid #E5E5E5;
    transition: all 0.3s linear;
}
#doropdown-toggoler .dropdown-items button.btn:hover .dropdown-items-btn{
    display: flex;
    flex-direction: column;
    right:-100px;
}
#doropdown-toggoler .dropdown-items .btn:hover{
    background-color: rgb(226 232 240);
}

/* input checkbox */
.input-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .input-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    border: 1px solid #979797;
  }
  
  .input-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .input-checkbox input:checked ~ .checkmark:after {
    display: block;
  }

  .input-checkbox .checkmark:after {
    left: 3px;
    top: 1px;
    width: 5px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
}


.rejected .input-checkbox input:checked ~ .checkmark {
    background-color: #F71111;
}
.accepted .input-checkbox input:checked ~ .checkmark {
    background-color: #00B035;
}
.selected .input-checkbox input:checked ~ .checkmark {
    background-color: rgb(249 115 22);
}
.none .input-checkbox input:checked ~ .checkmark {
    background-color: #565956;
}
.pending .input-checkbox input:checked ~ .checkmark {
    background-color:#5856D6;
}

/* profile  */
.profile .imageEditDiv{
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.footer{
    width: 100%;
    height:100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.slider-btn-background{
    transition: all 0.3s;
    margin-left: -6px;
    margin-right: 6px;
    background-color: rgb(16,138,37,0.1) !important;
}
.slider-btn-background:hover{
    color:#fff !important;
}


.text-black{
    color:#000000 !important;
}
.leading-67{
    line-height: 67px;
}
.border-bottom-22{
    padding:22px 0;
    border-bottom: 2px solid #E5E5EA; 
}
.border-33{
    padding: 33px 0;
    border-bottom: 1px solid #D1D1D6;
}

// upload-file
.dz-button{
    background-color: #F2F2F2 !important;
    border: 2px dashed #8E8E93 !important;
    width: 100% !important;
    
}
.dz-button p{
    color:rgba(37, 8, 8, 0.326);
}

@media screen and (max-width:767px) {
    #dropdownNavbarLink,#notification-togller,#doropdown{
        position: static !important;
    }
    #dropdownNavbar{
        position: static !important;
        width: 600px !important; 
    }
    #dropdownNavbar a{
        color: #ffffff !important;
        border:none !important;
        text-align: left !important;
        margin-left: 7px !important;
    }
    #notification{
        margin:0  !important;
        position: static !important;
    }
    .dropdown-items{
        margin: 0 !important;
        padding: 0 !important;
        position: static !important;
        background-color: transparent !important;
    }

}

@media screen and (max-width:800px){
    .header{
        height: 100%;
    }
    .hero img{
        width: 100% !important;
        height: 300px !important;
    }
    .hero h1{
        font-size: 30px;
        padding: 10px 5px;
    }
    .post-slider .video-image, .post-slider video{
        width: 100%;
        height: 180px;
    }
    .flim-slider .item .video-image,
    .flim-slider .item video,
    .all-posts .item .video-image,
    .all-posts .item video{
        height:140px;
    }
}
@media screen and (max-width:500px){
    .hero img{
        width: 100%;
        height: 250px;
    }
    .post-slider .video-image, .post-slider video{
        width: 100%;
        height: 100px;
    }
    .flim-slider .item .video-image,
    .flim-slider .item video,
    .all-posts .item .video-image,
    .all-posts .item video{
        height:100px;
    }

    /* post detials  */
    .post .video-image, .post .item video{
        height: 150px;
    }
}
.container{
    max-width: 1140px  !important;
}
.font-700{
    font-weight: 700;
}
.leading-36{
    line-height: 36px;
}
.text-24{
    font-size: 24px;
}
#border-and-radius{
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 8px 20px;
}
#border-and-radius-white-bg{
    border: 1px solid #979797;
    border-radius: 30px;
    padding: 10px 30px;
}
#white-button{
    border-radius: 30px;
    padding: 10px 30px;
}
.btn-gradient{
    background-image: linear-gradient(270deg, #b465da 0%, #cf6cc9 28.04%, #ee609c 67.6%, #ee609c 100%);
    border-radius: 5px;
    padding: 12px 45px;
    color:#ffffff !important;
}
.btn-gray{
    background: #D8D8D8;
    border-radius: 5px;
    color:#000000;
    font-weight: 600;
    padding: 12px 45px;
    font-size: 16px;
}

.btn-gradient-green{
    background: linear-gradient(299.52deg, #0D9E7A 10.46%, #1AD444 77.77%);
    border-radius: 5px;
    color:#ffffff !important;
    font-weight: 600;
    padding: 12px 45px;
    font-size: 16px;
}
.btn-gradient-orange, .media-hover:hover{
    background: linear-gradient(132.78deg, #F09819 7.53%, #FF5858 89.96%);
    border-radius: 5px;
    border-radius: 5px;
    color:#ffffff !important;
}
.btn-gradient-pink,button.btn-gradient-pink, .hover-bg-pink:hover{
    background: linear-gradient(225deg, #AC32E4 0%, #7918F2 47.87%, #4801FF 100%) !important;
    border-radius: 5px;
    padding: 12px 45px;
    color:#ffffff !important;
    font-weight: 600;
    font-size: 16px;
}
.bg-pink-gradient{
    background: linear-gradient(225deg, #AC32E4 0%, #7918F2 47.87%, #4801FF 100%);
    height: 100%;
}
.bg-gradient-semiwhite{
    background: linear-gradient(225deg, #E3FDF5 0%, #FFE6FA 100%);
}
.bg-gradient-white{
    background: linear-gradient(180deg, #EAEDEB -3.15%, #FFFFFF 96.48%);
}
.bg-gradient-blue-white{
    background: linear-gradient(180deg, #D4E4D9 0%, #FFFFFF 100%);
}

.bg-gradient-red{
    background: #FF4E50;
    background-repeat: no-repeat;
}
.bg-gradient-green{
    background: linear-gradient(299.52deg, #0D9E7A 10.46%, #1AD444 77.77%);
}

.bg-red-10,.ডকুমেন্টারি{
    background-color: rgb(226,88,150,0.1) !important;
    border-radius: 10px;
}
.bg-green-10{
    background-color: rgb(16,138,37,0.1);
    border-radius: 10px;
}
.bg-blue-10{
    background-color:rgb(88, 86, 214,0.1);
    border-radius: 10px;
}
.bg-pink-10{
    background-color:rgb(112, 40, 247,0.1);
    border-radius: 10px;
}
.bg-dark-blue-10F{
    background-color:rgb(0, 122, 255,0.1);
    border-radius: 10px;
    color: #4801FF;
}

.hover-flim-btn:hover{
    background-image: linear-gradient(270deg, #b465da 0%, #cf6cc9 28.04%, #ee609c 67.6%, #ee609c 100%);
    border-radius: 5px;
    color:#ffffff !important;
}
.hover-book-btn:hover{
    background: linear-gradient(299.52deg, #0D9E7A 10.46%, #1AD444 77.77%);
    border-radius: 5px;
    color:#ffffff !important;
}

/* admin dashboard  */
.bg-gradient-blue{
    background: #3023AE;
}
#admin-layout{
    .sidebar{
        overflow: auto;
    }
    .dashboard-items{
        margin-top: 60px;
    
        .dashbord-link{
            display: flex;
            align-items: center;
            font-style: normal;
            font-weight: 600;
            padding-left: 20px;
            font-size: 14px;
            line-height: 20px;
            color: #A366F8;
        
            img{
                margin-right:12px;
                width: 25px;
                height: 26px;
            }
            .img-white{
                display: none;
            }
            .icon{
                margin-left: 10px;
                width: 15px;
                height: 8px;
            }
        }
        .active{
            color:#ffffff !important;
            .dashbord-link{
                color:#ffffff !important; 
            }
            img{
                display: none;
            }
            .img-white{
                display: block;
            }
        }
    }
}

.icon{
    width: 15px;
    height: 8px;
}

.show{
    display: block;
}
.fixed-content {
    top:0;
    padding-top: 60px;
    bottom:0;
    left: 0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    transition: all 0.3s linear;
}

.box-shadow{
    box-shadow: 0px 30px 70px rgba(234, 234, 234, 0.569286) !important;
}

// page loading 

section.page-loader{
    width:100%;
    height:100%;  
    position:fixed;
    align-items: center;
    justify-content: center;
    background: #4070f4;
    z-index: 100;
}
.page-loader .dots span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 50%;
    transform: rotate(calc(var(--i) * (360deg / 15))) translateY(35px);
    animation: animate 1.5s linear infinite;
    animation-delay: calc(var(--i) * 0.1s);
    z-index: 900;
    opacity: 0;
}

@keyframes animate {
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}