
/* admin dashboard  */
.bg-gradient-blue{
    background: #3023AE;
}

.dashboard-items{
    margin-top: 60px;
}
.dashbord-link{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #A366F8;
}